<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kosta.semicolon.goods.dao.GoodsDao">

	<insert id="insert" parameterType="kr.or.kosta.semicolon.goods.domain.Goods">
		<selectKey resultType="int" keyProperty="goodsNo" order="BEFORE" >	
			SELECT SEQ_GOODS.nextval FROM DUAL
		</selectKey>

		INSERT INTO goods
			(
				goods_no,
				name,
				price,
				detail,
				front_img
			)
			VALUES 
			(
				#{goodsNo},
				#{name},
				#{price},
				#{detail},
				#{frontImg}
			)
	</insert>


	<select id="listall" resultType="kr.or.kosta.semicolon.goods.domain.Goods">
		SELECT goods_no AS goodsNo, 
		       name, 
		       price, 
		       detail, 
		       front_img AS frontImg 
		FROM goods
	</select>
	 
	
	<select id="select" resultType="kr.or.kosta.semicolon.goods.domain.Goods">
		SELECT goods_no AS goodsNo, 
		       name, 
		       price, 
		       detail, 
		       front_img AS frontImg 
		FROM   goods
		WHERE  goods_no = #{goodsNo}
	</select>
	
	<select id="listAll" parameterType="kr.or.kosta.semicolon.common.Params" resultType="kr.or.kosta.semicolon.goods.domain.Goods">
		SELECT goodsno, 
		       NAME, 
		       price, 
		       detail, 
		       frontimg 
		FROM   (SELECT Ceil (rownum / #{pageSize}) page, 
		               goodsno, 
		               NAME, 
		               price, 
		               detail, 
		               frontimg 
		        FROM   (SELECT goods_no  goodsNo, 
		                       NAME, 
		                       price, 
		                       detail, 
		                       front_img frontImg 
		                FROM   goods 
		                ORDER  BY goods_no DESC)) 
		WHERE  page = #{page}
	</select>
	
	<select id="listCount" resultType="int">
		SELECT Count(goods_no) count 
		FROM   goods
	</select>
	

</mapper>