<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kosta.semicolon.goods.dao.GoodsDao">

	<insert id="insert" parameterType="kr.or.kosta.semicolon.goods.domain.Goods">
		<selectKey resultType="int" keyProperty="goodsNo" order="BEFORE" >	
			SELECT SEQ_GOODS.nextval FROM DUAL
		</selectKey>

		INSERT INTO goods
			(
				goods_no,
				name,
				price,
				detail,
				front_img,
				toggle_img,
				category
			)
			VALUES 
			(
				#{goodsNo},
				#{name},
				#{price},
				#{detail},
				#{frontImg},
				#{toggleImg},
				#{category}
			)
	</insert>


	<select id="allList" resultType="Goods">
		SELECT goods_no, 
		       name, 
		       price, 
		       detail, 
		       front_img,
		       toggle_img,
		       category 
		FROM goods
	</select>
	
	<select id="categoryListAll" parameterType="int" resultType="Goods">
		SELECT goods_no, 
			   name, 
			   price, 
			   detail, 
			   front_img,
			   toggle_img,
			   category 
		FROM   goods
		WHERE  category = #{category}
	</select>
	 
	
	<select id="select" resultType="Goods">
		SELECT goods_no AS goodsNo, 
		       name, 
		       price, 
		       detail, 
		       front_img AS frontImg,
			   toggle_img As toggleImg,
			   category
		FROM   goods
		WHERE  goods_no = #{goodsNo}
	</select>
	
	
	<select id="selectNo" resultType="int">
		SELECT goods_no
		FROM   goods
		WHERE  name = #{name}
	</select>
	
	
	<select id="listAll" parameterType="int" resultType="Goods">
		SELECT goodsno, 
		       NAME, 
		       price, 
		       detail, 
		       frontimg,
			   toggle_img,
			   category 
		FROM   (SELECT Ceil (rownum / 10) page, 
		               goodsno, 
		               NAME, 
		               price, 
		               detail, 
		               frontimg,
					   toggle_img,
					   category 
		        FROM   (SELECT goods_no  goodsNo, 
		                       NAME, 
		                       price, 
		                       detail, 
		                       front_img,
							   toggle_img,
							   category 
		                FROM   goods 
		                ORDER  BY goods_no DESC)) 
		WHERE  page = #{page}
	</select>
	
	<select id="listCount" resultType="int">
		SELECT Count(goods_no) count 
		FROM   goods
	</select>
	

</mapper>