<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="kr.or.kosta.semicolon.membersize.dao.MemberSizeDao">
 
	<insert id="insert" parameterType="MemberSize">
		INSERT INTO member_size 
		            (member_no, 
		             waist, 
		             thigh, 
		             rise, 
		             hip, 
		             pants, 
		             full_length,
		             skirt,
		             sleeve,
		             top,
		             shortpants) 
		VALUES     (#{memberNo}, 
		             #{waist}, 
		             #{thigh}, 
		             #{rise}, 
		             #{hip}, 
		             #{pants}, 
		             #{fullLength},
		             #{skirt},
		             #{sleeve},
		             #{top},
		             #{shortpants}) 
	</insert>
	
	<update id="update" parameterType="MemberSize">
		UPDATE member_size 
		<set> 
			<if test="waist!=null">waist = #{waist},</if> 
			<if test="thigh!=null">thigh = #{thigh},</if> 
			<if test="rise!=null">rise = #{rise},</if> 
			<if test="hip!=null">hip = #{hip}, </if> 
			<if test="pants!=null">pants = #{pants}, </if> 
			<if test="fullLength!=null">full_length = #{fullLength},</if> 
			<if test="skirt!=null">skirt = #{skirt},</if> 
			<if test="sleeve!=null">sleeve = #{sleeve},</if> 
			<if test="top!=null">top = #{top},</if> 
			<if test="shortpants!=null">shortpants = #{shortpants}</if> 
		</set> 
		WHERE  member_no = #{memberNo}
	</update>
	
	<select id="select" parameterType="int" resultType="MemberSize">
		SELECT member_no, 
		       waist, 
		       thigh, 
		       rise, 
		       hip, 
		       pants, 
		       full_length,
		       skirt,
		       sleeve,
		       top,
		       shortpants
		FROM   member_size 
		WHERE  member_no = #{memberNo} 
	</select>
	
	<select id="listAll" resultType="MemberSize">
		SELECT member_no, 
		       waist, 
		       thigh, 
		       rise, 
		       hip, 
		       pants, 
		       full_length,
		       skirt,
		       sleeve,
		       top,
		       shortpants
		FROM   member_size 
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE FROM member_size
		WHERE member_no = #{memberNo} 
	</delete>
	
 </mapper>