<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kosta.semicolon.keyword.dao.KeywordDao">

	<insert id="insert" parameterType="Keyword">
		<selectKey resultType="int" keyProperty="keywordNo" order="BEFORE" >	
			SELECT SEQ_KEYWORD.nextval FROM DUAL
		</selectKey>

		INSERT INTO keyword
			(
				keyword_no,
				goods_no,
				keyword_name
			)
			VALUES 
			(
				#{keywordNo},
				#{goodsNo},
				#{keywordName}
			)
	</insert>


	<select id="listByKeyword" parameterType="kr.or.kosta.semicolon.common.KeywordParameter" resultType="kr.or.kosta.semicolon.gpurchase.domain.GpurchaseInfo">
		SELECT goodsno, 
		       category, 
		       gname, 
		       frongimg, 
		       toggleimg, 
		       gpurchaseno, 
		       min, 
		       enddate, 
		       startdate, 
		       price, 
		       likecnt, 
		       status, 
		       pnum
		FROM   (SELECT Ceil (rownum / 12) page, 
		               goodsno, 
		               category, 
		               gname, 
		               frongimg, 
		               toggleimg, 
		               gpurchaseno, 
		               min, 
		               enddate, 
		               startdate, 
		               price, 
		               likecnt, 
		               status, 
		               pnum
                    FROM   (SELECT g.goods_no      goodsNo, 
                                   g.category      category, 
                                   g.NAME          gname, 
                                   g.front_img     frongImg, 
                                   g.toggle_img    toggleImg, 
                                   gp.gpurchase_no gpurchaseNo, 
                                   gp.min          min, 
                                   To_char(gp.end_date, 'yyyy-MM-DD')     endDate,
                                   To_char(gp.start_date, 'yyyy-MM-DD')   startDate, 
                                   gp.price        price, 
                                   gp.likecnt      likecnt, 
                                   gp.status       status, 
                                   gp.pnum         pnum
                            FROM   goods g, 
                                   gpurchase gp 
                            WHERE  g.goods_no in (SELECT goods_no FROM keyword WHERE keyword_name = #{keywordName}) 
                                   AND gp.goods_no = g.goods_no
                                   AND gp.status = #{status}        
		                ))
		WHERE  page = #{page}
	</select>
	 
	 
	 <select id="selectName" parameterType="int" resultType="HashMap">
		 	SELECT keyword_name keywordName
			FROM   keyword 
			WHERE  goods_no = #{goodsNo}
	 </select>


	<select id="autoComplete" parameterType="string" resultType="string">
		SELECT DISTINCT keyword_name keywordName
		FROM keyword
		WHERE keyword_name like '%${value}%'
	
	</select>
</mapper>