<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="kr.or.kosta.semicolon.image.dao.ImageDao">
	<insert id="insert">
		<selectKey keyProperty="imageNo" order="BEFORE" resultType="int">
			SELECT seq_image.nextval
			FROM   dual 
		</selectKey>
		INSERT INTO image 
	            (image_no, 
	             goods_no, 
	             attach_file) 
		VALUES  (#{imageNo}, 
	             #{goodsNo}, 
	             #{attachFile})
	</insert>
		
	   
</mapper>