<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kosta.semicolon.gpurchase.dao.gpurchaseDao">
 
	<insert id="insert" parameterType="Gpurchase">
		<selectKey keyProperty="gpurchaseNo" resultType="int" order="BEFORE">
			SELECT SEQ_GPURCHASE.nextval as gpurchaseNo from dual
		</selectKey>
		INSERT INTO gpurchase 
		            (gpurchase_no, 
		             goods_no, 
		             min, 
		             end_date, 
		             start_date, 
		             price) 
		VALUES      (#{gpurchaseNo}, 
		             #{goodsNo}, 
		             #{min}, 
		             #{endDate}, 
		             #{startDate}, 
		             #{price})
	</insert>

 
	<select id="gpListAll" resultType="Gpurchase">
		<![CDATA[
		SELECT gpurchase_no                      AS gpurchaseNo, 
		       goods_no                          AS goodsNo, 
		       min, 
		       To_char(end_date, 'yyyy-MM-DD')   endDate, 
		       To_char(start_date, 'yyyy-MM-DD') startDate, 
		       price, 
		       status, 
		       likecnt                           AS likeCnt, 
		       pnum 
		FROM   gpurchase 
		WHERE  status < 2 
		       AND status >= 0
		]]>
	</select>
	
	
	<select id="select" parameterType="int" resultType="kr.or.kosta.semicolon.gpurchase.domain.GpurchaseInfo">
		SELECT g.goods_no                           goodsNo, 
		       g.category                           category, 
		       g.NAME                               gname, 
		       g.detail								detail,
		       g.front_img                          frontImg, 
		       g.toggle_img                         toggleImg, 
		       gp.gpurchase_no                      gpurchaseNo, 
		       gp.min                               min, 
		       To_char(gp.end_date, 'yyyy-MM-DD')   endDate, 
		       To_char(gp.start_date, 'yyyy-MM-DD') startDate, 
		       gp.price                             price, 
		       gp.likecnt                           likecnt, 
		       gp.status                            status, 
		       gp.pnum                              pnum, 
		       c.NAME                               cname 
		FROM   goods g, 
		       gpurchase gp, 
		       nego n, 
		       nego_list ne, 
		       company c 
		WHERE  gp.goods_no = g.goods_no 
		       AND c.company_no = n.company_no 
		       AND n.nego_no = ne.nego_no 
		       AND ne.goods_no = g.goods_no 
		       AND gp.gpurchase_no = #{gpurchaseNo}
	</select>
	
	<select id="selectGoodsNo" parameterType="int" resultType="int">
		SELECT goods_no 
		FROM   gpurchase 
		WHERE  gpurchase_no = #{gpurchaseNo}
	</select>
	
 	<update id="updateCntP" parameterType="int">
 		UPDATE gpurchase 
		SET    likecnt = likecnt + 1 
		WHERE  gpurchase_no = #{gpurchaseNo}
 	</update>
 	
 	<update id="updateCntM" parameterType="int">
 		UPDATE gpurchase 
		SET    likecnt = likecnt - 1 
		WHERE  gpurchase_no = #{gpurchaseNo}
 	</update>
	
	<select id="ListAll" parameterType="UseParameter" resultType="kr.or.kosta.semicolon.gpurchase.domain.GpurchaseInfo">
		SELECT goodsno, 
		       category, 
		       gname, 
		       frontImg, 
		       toggleimg, 
		       gpurchaseno, 
		       min, 
		       enddate, 
		       startdate, 
		       price, 
		       likecnt, 
		       status, 
		       pnum, 
		       cname 
		FROM   (SELECT Ceil (rownum / 12) page, 
		               goodsno, 
		               category, 
		               gname, 
		               frontImg, 
		               toggleimg, 
		               gpurchaseno, 
		               min, 
		               enddate, 
		               startdate, 
		               price, 
		               likecnt, 
		               status, 
		               pnum, 
		               cname 
		        FROM   (SELECT g.goods_no      goodsNo, 
		                       g.category      category, 
		                       g.NAME          gname, 
		                       g.front_img     frontImg, 
		                       g.toggle_img    toggleImg, 
		                       gp.gpurchase_no gpurchaseNo, 
		                       gp.min          min, 
		                       To_char(gp.end_date, 'yy-MM-DD')     endDate,
                           	   To_char(gp.start_date, 'yy-MM-DD')   startDate, 
		                       gp.price        price, 
		                       gp.likecnt      likecnt, 
		                       gp.status       status, 
		                       gp.pnum         pnum, 
		                       c.NAME          cname 
		                FROM   goods g, 
		                       gpurchase gp, 
		                       nego n, 
		                       nego_list ne, 
		                       company c 
		                WHERE  gp.goods_no = g.goods_no 
		                       AND c.company_no = n.company_no 
		                       AND n.nego_no = ne.nego_no 
		                       AND ne.goods_no = g.goods_no 
		                       AND gp.status = #{status}
		                       AND g.category = #{category}
		                       
		                <if test="productOrder != null">
		                	<choose>
		                		<when test="productOrder == 'newProduct'">
		                			ORDER BY gpurchase_no DESC
		                		</when>
		                		<when test="productOrder == 'lowPrice'">
		                			ORDER BY price ASC
		                		</when>
		                		<when test="productOrder == 'highPrice'">
		                			ORDER BY price DESC
		                		</when>
		                		<when test="productOrder == 'endDate'">
		                			ORDER BY end_date ASC
		                		</when>
		                		<when test="productOrder == 'deadline'">
		                			ORDER BY likecnt DESC
		                		</when>
		                	</choose>
		                </if>
		                )) 
		WHERE  page = #{page}
	</select>
	
	<select id="selectGolist" resultType="int">
	SELECT gpurchase_no 
	FROM   gpurchase 
	WHERE  likecnt >= min 
	       AND status = 0
	</select>
	
	 <update id="statusUpdate" parameterType="Gpurchase">
		UPDATE gpurchase
		<set>
			<if test="status == 0">
				status=1, start_date=sysdate, end_date=sysdate+5
			</if>
			<if test="status == 1">
				status=2
			</if>
		</set>
		WHERE gpurchase_no = #{gpurchaseNo}
	</update>
	
	<select id="getSalesByCategory" resultType="CategorySales">
		SELECT g.price, goods.category 
		FROM   gpurchase g, 
		       goods 
		WHERE  g.goods_no = goods.goods_no 
		GROUP  BY goods.category, 
		          g.price
	</select>
	
	<update id="updatePnum" parameterType="int">
		UPDATE gpurchase 
		SET    pnum = pnum + 1 
		WHERE  gpurchase_no = #{gpurchaseNo}
	</update>
	
	<update id="updateResearchCancle" parameterType="int">
		UPDATE gpurchase 
		SET    status = -1 
		WHERE  gpurchase_no = #{gpurchaseNo}
	</update>
	
	
	
	
</mapper>