<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kosta.semicolon.gpurchase.dao.gpurchaseDao">

	<insert id="insert" parameterType="Gpurchase">
		<selectKey keyProperty="gpurchaseNo" resultType="int" order="BEFORE">
			SELECT SEQ_GPURCHASE.nextval as gpurchaseNo from dual
		</selectKey>
		INSERT INTO gpurchase 
		            (gpurchase_no, 
		             goods_no, 
		             min, 
		             end_date, 
		             start_date, 
		             price,
		             likecnt) 
		VALUES      (#{gpurchaseNo}, 
		             #{goodsNo}, 
		             #{min}, 
		             #{endDate}, 
		             #{startDate}, 
		             #{price},
		             #{likeCnt})
	</insert>

 
	<select id="gpListAll" resultType="Gpurchase">
		SELECT gpurchase_no                      AS gpurchaseNo, 
		       goods_no                          AS goodsNo, 
		       min, 
		       To_char(end_date, 'yyyy-MM-DD')   endDate, 
		       To_char(start_date, 'yyyy-MM-DD') startDate, 
		       price, 
		       status,
		       likecnt							AS likeCnt,
		       pnum 
		FROM   gpurchase 
		ORDER  BY gpurchase_no DESC
	</select>
	 
	<select id="select" parameterType="int" resultType="Gpurchase">
		SELECT gpurchase_no                      AS gpurchaseNo, 
		       goods_no                          AS goodsNo, 
		       min, 
		       To_char(end_date, 'yyyy-MM-DD')   AS endDate, 
		       To_char(start_date, 'yyyy-MM-DD') AS startDate, 
		       price, 
		       status,
		       likecnt,
		       pnum 
		FROM   gpurchase 
		WHERE  gpurchase_no = #{gpurchaseNo} 
	</select>
	
	<select id="selectGoodsNo" parameterType="int" resultType="int">
		SELECT goods_no 
		FROM   gpurchase 
		WHERE  gpurchase_no = #{gpurchaseNo}
	</select>
	
	<!-- 
 	<update id="update" parameterType="Gpurchase">
		UPDATE gpurchase 
		<set>
			<if test="min != null">min = #{min},</if>
			<if test="price != null">price = #{price},</if>
			<if test="startDate != null">start_date = #{startDate},</if>
			<if test="endDate != null">end_date = #{endDate},</if>
			<if test="status != null">status = #{status}</if>
			<if test="likeCnt != null">likecnt = #{likeCnt}</if>
		</set>
		WHERE  gpurchase_no = #{gpurchaseNo} 
	</update>
 -->
 
 	<update id="updateCntP" parameterType="int">
 		UPDATE gpurchase 
		SET    likecnt = likecnt + 1 
		WHERE  gpurchase_no = #{gpurchaseNo}
 	</update>
 	
 	<update id="updateCntM" parameterType="int">
 		UPDATE gpurchase 
		SET    likecnt = likecnt - 1 
		WHERE  gpurchase_no = #{gpurchaseNo}
 	</update>

	<delete id="delete" parameterType="int">
		DELETE gpurchase 
		WHERE  gpurchase_no = #{gpurchaseNo} 
	</delete>
	
	<select id="listAll" parameterType="kr.or.kosta.semicolon.common.Params" resultType="Gpurchase">
		SELECT gpurchaseno, 
		       goodsno, 
		       min, 
		       enddate, 
		       startdate, 
		       price, 
		       status,
		       likecnt,
		       pnum 
		FROM   (SELECT Ceil (rownum / #{pageSize}) page, 
		               gpurchaseno, 
		               goodsno, 
		               min, 
		               enddate, 
		               startdate, 
		               price, 
		               status,
		               likecnt,
		               pnum 
		        FROM   (SELECT gpurchase_no                      gpurchaseNo, 
		                       goods_no                          goodsNo, 
		                       min, 
		                       To_char(end_date, 'yyyy-MM-DD')   endDate, 
		                       To_char(start_date, 'yyyy-MM-DD') startDate, 
		                       price, 
		                       status,
		                       likecnt,
		                       pnum 
		                FROM   gpurchase
		                WHERE  status = 0 
		                
		                <if test="productOrder != null">
		                	<choose>
		                		<when test="productOrder == 'newProduct'">
		                			ORDER BY gpurchase_no DESC
		                		</when>
		                		<when test="productOrder == 'lowPrice'">
		                			ORDER BY price ASC
		                		</when>
		                		<when test="productOrder == 'highPrice'">
		                			ORDER BY price DESC
		                		</when>
		                		<when test="productOrder == 'endDate'">
		                			ORDER BY end_date ASC
		                		</when>
		                		<when test="productOrder == 'deadline'">
		                			ORDER BY likecnt DESC
		                		</when>
		                	</choose>
		                </if>
		                )) 
		WHERE  page = #{page}
	</select>
	
	
	<select id="glistAll" parameterType="kr.or.kosta.semicolon.common.Params" resultType="Gpurchase">
	SELECT gpurchaseno, 
	       goodsno, 
	       min, 
	       enddate, 
	       startdate, 
	       price, 
	       status, 
	       likecnt,
	       pnum 
	FROM   (SELECT Ceil (rownum / #{pageSize}) page, 
	               gpurchaseno, 
	               goodsno, 
	               min, 
	               enddate, 
	               startdate, 
	               price, 
	               status, 
	               likecnt,
	               pnum 
	        FROM   (SELECT gpurchase_no                      gpurchaseNo, 
	                       goods_no                          goodsNo, 
	                       min, 
	                       To_char(end_date, 'yyyy-MM-DD')   endDate, 
	                       To_char(start_date, 'yyyy-MM-DD') startDate, 
	                       price, 
	                       status, 
	                       likecnt,
	                       pnum 
	                FROM   gpurchase 
	                WHERE  status = 1
	                <if test="productOrder != null">
		                	<choose>
		                		<when test="productOrder == 'newProduct'">
		                			ORDER BY gpurchase_no DESC
		                		</when>
		                		<when test="productOrder == 'lowPrice'">
		                			ORDER BY price ASC
		                		</when>
		                		<when test="productOrder == 'highPrice'">
		                			ORDER BY price DESC
		                		</when>
		                		<when test="productOrder == 'endDate'">
		                			ORDER BY end_date ASC
		                		</when>
		                		<when test="productOrder == 'deadline'">
		                			ORDER BY likecnt DESC
		                		</when>
		                	</choose>
		                </if>
	                )) 
	WHERE  page = #{page}	
	</select>
	
	<select id="endlistAll" parameterType="kr.or.kosta.semicolon.common.Params" resultType="Gpurchase">
	SELECT gpurchaseno, 
	       goodsno, 
	       min, 
	       enddate, 
	       startdate, 
	       price, 
	       status, 
	       likecnt,
	       pnum 
	FROM   (SELECT Ceil (rownum / #{pageSize}) page, 
	               gpurchaseno, 
	               goodsno, 
	               min, 
	               enddate, 
	               startdate, 
	               price, 
	               status, 
	               likecnt,
	               pnum 
	        FROM   (SELECT gpurchase_no                      gpurchaseNo, 
	                       goods_no                          goodsNo, 
	                       min, 
	                       To_char(end_date, 'yyyy-MM-DD')   endDate, 
	                       To_char(start_date, 'yyyy-MM-DD') startDate, 
	                       price, 
	                       status, 
	                       likecnt,
	                       pnum 
	                FROM   gpurchase 
	                WHERE  status = 2
	                <if test="productOrder != null">
		                	<choose>
		                		<when test="productOrder == 'newProduct'">
		                			ORDER BY gpurchase_no DESC
		                		</when>
		                		<when test="productOrder == 'lowPrice'">
		                			ORDER BY price ASC
		                		</when>
		                		<when test="productOrder == 'highPrice'">
		                			ORDER BY price DESC
		                		</when>
		                		<when test="productOrder == 'endDate'">
		                			ORDER BY end_date ASC
		                		</when>
		                		<when test="productOrder == 'deadline'">
		                			ORDER BY likecnt DESC
		                		</when>
		                	</choose>
		                </if>
	                )) 
	WHERE  page = #{page}	
	</select>
	
	
	<select id="selectGolist" resultType="int">
	SELECT gpurchase_no
	FROM   gpurchase 
	WHERE  likecnt >= min
	</select>
	
	 <update id="statusUpdate" parameterType="Gpurchase">
		UPDATE gpurchase
		<set>
			<if test="status == 0">
				status=1, start_date=sysdate, end_date=sysdate+5
			</if>
			<if test="status == 1">
				status=2
			</if>
		</set>
		WHERE gpurchase_no = #{gpurchaseNo}
	</update>
</mapper>