<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace = "kr.or.kosta.semicolon.payment.dao.paymentDao">
 
  	<insert id="insert" parameterType="Payment">
  		<selectKey keyProperty="paymentNo" order="BEFORE" resultType="int">
  			SELECT seq_payment.nextval FROM   dual
  		</selectKey>
  		INSERT INTO payment 
		            (payment_no, 
		             orders_no, 
		             method, 
		             price, 
		             card_info) 
		VALUES     (#{paymentNo}, 
		            #{ordersNo}, 
		            #{method}, 
		            #{payPrice}, 
		            #{cardInfo, jdbcType=NUMERIC})
  	</insert>
  	
   
  </mapper>