<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="kr.or.kosta.semicolon.tops.dao.TopsDao">
	<select id="getBySize" parameterType="string" resultType="Tops">
		SELECT  tops_no,
				types,
				sizes,
				sleeve_length,
				full_length
		FROM	tops
		WHERE	goods_no is null 
				AND sizes = #{value}
	</select> 
	
	<select id="selectByGoodsNum" parameterType="int" resultType="Tops">
		SELECT  tops_no,
				goods_no,
				types,
				sizes,
				sleeve_length,
				full_length
		FROM	tops
		WHERE	goods_no = #{value}
	</select>
	
	<select id="getBySizeGoodsNo" parameterType="Tops" resultType="Tops">
		SELECT  tops_no,
				types,
				sizes,
				sleeve_length,
				full_length
		FROM	tops
		WHERE	goods_no = #{goodsNo}
				AND sizes = #{sizes}
	</select> 
	
</mapper>