<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="kr.or.kosta.semicolon.member.dao.MemberDao">

       <insert id="insert" parameterType="Member">
        <selectKey  keyProperty="memberNo" order="BEFORE" resultType="int">    
            SELECT SEQ_MEMBER.nextval  as memberNo FROM DUAL
        </selectKey>

        INSERT INTO member
            (
                member_no,
                id,
                password,
                email,
                address,
                name,
                postcode,
                phone,
                age,
                gender,
                private_encoded,
                public_encoded
            )
            VALUES 
            (
                #{memberNo},
                #{id},
                #{password},
                #{email},
                #{address},
                #{name},
                #{postcode},
                #{phone},
                #{age},
                #{gender},
                #{privateEncoded},
                #{publicEncoded}
            )
    </insert>
    
    <select id="listAll" resultType="Member">
        SELECT  member_no    AS     "memberNo",
                id,
                password,    
                email,        
                address,        
                name,        
                postcode,    
                phone,        
                regdate,
                age,
                gender,
                app_token     AS  "appToken",
                session_id	  AS  "sessionId",
                session_limit AS  "sessionLimit",
                private_encoded	AS	"privateEncoded",
                public_encoded	AS	"publicEncoded"
        FROM member
    </select>
    
    <select id="select" resultType="Member">
        SELECT  member_no    AS     "memberNo",
                id,
                password,    
                email,        
                address,        
                name,        
                postcode,    
                phone,        
                regdate,
                age,
                gender,
                app_token     AS  "appToken",
                session_id	  AS  "sessionId",
                session_limit AS  "sessionLimit",
                private_encoded	AS	"privateEncoded",
                public_encoded	AS	"publicEncoded"
        FROM member
        WHERE member_no = #{value}
    </select>
    
    <select id="selectToken" resultType="String">
        SELECT  app_token
        FROM member
        WHERE member_no = #{value}
    </select>
    
    <update id="update" parameterType="Member">
        UPDATE  member 
        SET     password = #{password},
                email = #{email},
                address = #{address},
                name = #{name},
                postcode = #{postcode},
                phone = #{phone}	
    </update>
    
    <delete id="delete" parameterType="String">
        DELETE FROM member 
        WHERE  id = #{value} 
    </delete>
    
     <select id="isMember" parameterType="Member" resultType="Member">
         SELECT  member_no    AS     "memberNo",
                id,
                password,    
                email,        
                address,        
                name,        
                postcode,    
                phone,        
                regdate,
                age,
                gender,
                app_token     AS  "appToken",
                session_id	  AS  "sessionId",
                session_limit AS  "sessionLimit",
                private_encoded	AS	"privateEncoded",
                public_encoded	AS	"publicEncoded"
        FROM member
        WHERE id = #{id} 
        AND password = #{password}
    </select> 
    
     <select id="readLogin" parameterType="string" resultType="Member">
        SELECT  id,
                password,    
        FROM   member
        WHERE  session_id = #{value} 
               AND session_limit > SYSDATE
    </select> 
    
    <update id="updateLogin" parameterType="Member">
        UPDATE member
        SET    session_id = #{sessionId}, 
               session_limit = #{sessionLimit} 
        WHERE  id = #{id}
    </update>
    
    <update id="updateToken" parameterType="Member">
        UPDATE member
        SET    app_token = #{appToken} 
        WHERE  member_no = #{memberNo} 
    </update>
    
    <select id="isId" parameterType="String" resultType="String">
    	SELECT id
		FROM   member 
		WHERE  id = #{value} 
    </select>
    
    <select id="selectById" parameterType="String" resultType="Member">
    	SELECT  member_no    AS     "memberNo",
                id,
                password,    
                email,        
                address,        
                name,        
                postcode,    
                phone,        
                regdate,
                age,
                gender,
                app_token     	AS  "appToken",
                session_id	  	AS  "sessionId",
                session_limit 	AS  "sessionLimit",
                private_encoded	AS	"privateEncoded",
                public_encoded	AS	"publicEncoded"
        FROM	member
        WHERE	id = #{value}
    </select>
    
    <select id="selectOrderInfo" parameterType="int" resultType="Member">
    	SELECT NAME, 
		       address, 
		       postcode, 
		       phone 
		FROM   member 
		WHERE  member_no = #{memberNo}
    </select>
        
</mapper>
